<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CZK Rates</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        h2, h3 {
            color: #333;
        }
        form {
            margin-bottom: 20px;
        }
        label {
            margin-right: 10px;
        }
        input[type="date"],
        input[type="submit"] {
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        input[type="submit"] {
            cursor: pointer;
            background-color: #5CACEE;
            color: white;
            border: none;
        }
        input[type="submit"]:hover {
            background-color: #1E90FF;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #5CACEE;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>BTC to CZK Rates</h2>
    <form action="/" method="post">
        <label for="date">Select a date:</label>
        <!-- Set the default date to today if none is selected -->
        <input type="date" id="date" name="date" value="{{ selected_date or current_date }}">
        <input type="submit" value="Filter">
    </form>

    <!-- Only show the rates table if a date has been selected -->
    {% if selected_date %}
        <h3>Rates for {{ selected_date }}</h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Czech Koruna (CZK)</th>
            </tr>
            {% for rate in rates %}
                <tr>
                    <td>{{ rate['date'] }}</td>
                    <td>{{ rate['time'] }}</td>
                    <td>{{ rate['rate'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>
